{% extends 'layout/basic.html' %}

{% block title %} Добавление объявления {% endblock %}
{% block content %}
    <!--Если не указывать адрес, на который будут отправлены данные, то они отправятся на тот адрес,
    по которому была загружена страница.-->
    <form method="post">
        {% csrf_token %}
        <!--Вывод формы, элементы управления которой находятся на отдельных абзацах.-->
        {{ form.as_p }}
        <!--Кнопка для отправки данных.-->
        <input type="submit" value="Добавить">
    </form>
{% endblock %}